<!DOCTYPE html>
<html>
<head><title>Dashboard</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <!-- <a href="/transactions"><button>View Transactions</button></a> -->

    <div class="container">
  <h2>Welcome {{ user.name }} (Acc No: {{ user.acc_no }})</h2>
  <p><strong>Balance:</strong> ₹ {{ balance }}</p>

  <h3>Deposit</h3>
  <form method="POST" action="/deposit">
    Amount: <input type="number" step="0.01" name="amount" required>
    <button type="submit">Deposit</button>
  </form>

  <h3>Withdraw</h3>
  <form method="POST" action="/withdraw">
    Amount: <input type="number" step="0.01" name="amount" required>
    <button type="submit">Withdraw</button>
  </form>

  <h3>Transfer</h3>
  <form method="POST" action="/transfer">
    Target Acc No: <input type="number" name="target_acc" required><br><br>
    Amount: <input type="number" step="0.01" name="amount" required>
    <button type="submit">Transfer</button>
  </form>

  <br>
  <a href="/transactions">View Transactions</a> | 
  <a href="/logout">Logout</a>
</div>
</body>
</html>
